@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('./variable.css');

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: var(--zenika-font);
    font-weight: 400;
    line-height: 1.188rem;
    letter-spacing: 0.01071em;
    background-color: #121212;
    background-image: url(../img/Cook-IA.svg);
    background-size: 720px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 150px;
    background-attachment: fixed;
}

@media print {
    body {
        background-color: #fff;
    }
}

body::backdrop {
    background-color: var(--black);
}

header {
    height: 120px;
    position: fixed;
    /* Make header fixed */
    top: 0;
    /* Position it at the top */
    left: 0;
    /* Make it span the full width */
    width: 100%;
    /* Make it span the full width */
    z-index: 2;
    /* Ensure it's above the footer */
}

header .logo {
    width: 90px;
    vertical-align: middle;
    position: relative;
    top: 7px;
    left: 7px;
}

header h1 {
    display: inline;
    margin: 0 20px;
    font-size: 2em;
}

h1 {
    font-size: 3.2rem;
    margin: 0.8rem 0 2.68rem 0;
}

h2 {
    margin: 0 20px;
    font-size: 1.5em;
    font-family: var(--robot-font);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

h3 {
    margin: 20px;
    font-size: 1em;
    font-family: var(--robot-font);
    display: flex;
    align-items: center;
    text-align: left;
}

p {
    line-height: 1.24em;
}

a {
    color: var(--red);
    text-decoration: none;
}

.ellipse {
    width: 104px;
    /* Double the radius for the width */
    height: 104px;
    /* Double the radius for the height */
    background-color: var(--white);
    border-radius: 50%;
    /* Creates the ellipse shape */
    box-shadow: 0 3px 8px 0 #49454F;
    /* Shadow: offset-x offset-y blur spread color */
    position: relative;
    top: 10px;
    margin: 0 auto;
    /* Center horizontally */
}

.banner {
    background-image: linear-gradient(45deg, var(--red) 45%, var(--pink) 100%);
    height: 60px;
}

main {
    flex: 1 0 auto;
    margin-bottom: 60px;
    /* Add margin to main to make space for the footer */
    margin-top: 120px;
    /* Add margin to main to make space for the header */
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    /* Make footer fixed */
    bottom: 0;
    /* Position it at the bottom */
    left: 0;
    /* Make it span the full width */
    width: 100%;
    /* Make it span the full width */
    background-color: var(--black);
    /* Match the background color */
    height: 60px;
    /* Set a fixed height for the footer */
    z-index: 1;
}

.container {
    margin-top: 20px;
}

*:focus-visible {
    outline: 2px solid #858585 !important;
}

.select-wrapper input.select-dropdown {
    color: #9e9e9e;
}

.btn {
    background-image: linear-gradient(45deg, var(--red), var(--pink));
    color: white;
    /* Assurez-vous que le texte reste lisible */
}

.dropdown-content {
    background-color: rgb(0 0 0 / 90%);
}

.dropdown-content li>span {
    color: var(--white);
}

.select-dropdown li.disabled>span {
    color: var(--pink);
    font-weight: bold;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: var(--white);
}

.input-field>label {
    color: var(--white);
}

label {
    color: var(--white);
}

.error-message {
    color: var(--red);
}

.invalid {
    border: 1px solid var(--red);
}

form {
    /* ... your existing styles for advancedOptions ... */
    position: relative;
    /* Allow positioning within the flow */
    z-index: 0;
    /* Ensure it's above the footer */
    margin-bottom: 60px;
    /* Add margin to create space for the footer */
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid var(--pink);
    border-bottom: 2px solid var(--red);
}

textarea.materialize-textarea {
    color: rgba(255, 255, 255, 0.87);
}

input[type=email]:not(.browser-default) {
    color: rgba(255, 255, 255, 0.87);
}

input .email {
    color: rgba(255, 255, 255, 0.87);
    padding-left: 10px;
}

.buttons {
    text-align: center;
    line-height: 6;
    margin-top: 45px;

    .label-btn {
        font-size: 16px;
        font-family: var(--zenika-font);
        margin: 0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: bold;
        background-image: linear-gradient(45deg, var(--red) 45%, var(--pink) 100%);
    }

    img {
        width: 60px;
    }

    .advanced-btn {
        background: none;
        border: none;
        border-radius: 50%;
    }

    .generateSection {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .contact {
        position: fixed;
        background: rgba(18, 18, 18, 0.90);
        right: 50px !important;
    }
}

@media only screen and (max-width: 600px) {
    main {
        background: rgba(18, 18, 18, 0.90);
    }

}

.edit-section {
    text-align: center;
    margin-top: 30px;
}

.retro-result {
    overflow-y: auto;
    word-break: break-word;
    /* Add vertical scrollbar to #result */
}

.result {
    h1 {
        text-align: center;
    }
}

.legal-notices {
    background: rgba(18, 18, 18, 0.90);

    h2 {
        margin: 30px 0px;
    }

    p {
        font-size: 1rem;
    }
}

.cookie-banner {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2), 5px 5px 10px 0 rgba(0, 0, 0, .19);
    border-radius: 4px;
    bottom: 80px;
    position: fixed;
    background-color: white;
    color: #707070;
    font-size: 1.2rem;

    p {
        margin: 10px;
    }

    button {
        height: 40px;
        background: linear-gradient(45deg, var(--red) 45%, var(--pink) 100%);
        border: none;
        border-radius: 0;
        color: var(--white);
        margin: 10px;
        padding: 0 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }
}

.loading {
    text-align: center;
}

.loading-content {
    text-align: center;
    margin-bottom: 10px;

    p {
        font-size: 18px;
    }
}

.anecdotes {
    p {
        font-family: var(--zenika-font);
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
    }

    .tag {
        border-radius: 8px;
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), var(--red);
        border: 1px rgba(255, 255, 255, 0.5);
        padding: 4px 15px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: var(--red);
        font-family: Nunito;
        width: fit-content;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, var(--black) 33%, var(--red) 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 40px 0;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #121212;
}

/* Scrollbar styles for all browsers */
.retro-result::-webkit-scrollbar {
    width: 10px;
    /* Set the scrollbar width */
}

.retro-result::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    /* Set the scrollbar thumb color */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

.retro-result::-webkit-scrollbar-track {
    background-color: var(--black);
    /* Set the scrollbar track color */
}

.retro-result::-moz-scrollbar {
    width: 10px;
    /* Set the scrollbar width */
}

.retro-result::-moz-scrollbar-thumb {
    background-color: var(--pink);
    /* Set the scrollbar thumb color */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

.retro-result::-moz-scrollbar-track {
    background-color: var(--black);
    /* Set the scrollbar track color */
}

.retro-result::-ms-scrollbar {
    width: 10px;
    /* Set the scrollbar width */
}

.retro-result::-ms-scrollbar-thumb {
    background-color: var(--pink);
    /* Set the scrollbar thumb color */
    border-radius: 10px;
    /* Round the corners of the thumb */
}

.retro-result::-ms-scrollbar-track {
    background-color: var(--black);
    /* Set the scrollbar track color */
}

.modal {
    position: fixed;
    top: 100px;
    left: 0;
    width: 90%;
    background-color: var(--black);
}