@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
:root {
--red: #EE2238;
--pink: #BF1D67;
--white: #ffffff;
--black: #121212;
--zenika-font: Nunito;
--robot-font: 'Bruno Ace';
}