<head>
    <meta charset="UTF-8">
    <title>Le Cookéo à Rétro, par Zenika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Le Cookéo à Rétro, par Zenika">
    <meta name="og:url" content="http://cookeo-a-retro.zenika.com/">
    <meta name="og:image" content="http://zenika.com/static/images/logo.png">
    <meta name="og:site_name" content="Le Cookéo à Rétro, par Zenika">
    <meta name="theme-color" content="#DF2147">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>