<!-- Modal Structure -->
<div id="filterModal" class="modal right">
    <div class="modal-content">
      <h4>Filtrer les rétrospectives</h4>
      <form id="filterForm">
        <div class="input-field">
          <label for="filterTheme">Thème</label>
          <select id="filterTheme" name="theme">
            <option value="">Tous</option>
            {% for theme in options.themes %}
              <option value="{{ theme }}">{{ theme }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field">
          <label for="filterDuree">Durée</label>
          <select id="filterDuree" name="duree">
            <option value="">Toutes</option>
            {% for duree in options.durees %}
              <option value="{{ duree }}">{{ duree }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field">
          <label for="filterAttendees">Nombre de personnes</label>
          <input type="number" id="filterAttendees" name="attendees" min="1">
        </div>
        <div class="input-field">
          <label>Distanciel</label>
          <p>
            <label>
              <input type="radio" name="distanciel" value="all" checked />
              <span>Tous</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="distanciel" value="true" />
              <span>Oui</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="distanciel" value="false" />
              <span>Non</span>
            </label>
          </p>
        </div>
        <div class="input-field">
          <label>Icebreaker</label>
          <p>
            <label>
              <input type="radio" name="icebreaker" value="all" checked />
              <span>Tous</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="icebreaker" value="true" />
              <span>Oui</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="icebreaker" value="false" />
              <span>Non</span>
            </label>
          </p>
        </div>
        <button type="submit" class="btn waves-effect waves-light">Appliquer</button>
      </form>
    </div>
  </div>