<div class="container">
    <div class="d-flex justify-content-between"><h1>Historique des rétrospectives</h1>
        <button class="btn btn-primary" type="button" id="openHistoryModalButton" aria-checked="true">Filtrer</button>
    </div>
    {% include '_retro_history_filters_modal.html' %}
    <div class="row">
        <ul class="retro-list row">
            {% for retro in retrospectives %}
            <li class="col s12 m4 l3">
                <button class="card" data-theme="{{ retro.theme }}" data-duration="{{ retro.duration }}"
                data-attendees="{{ retro.attendees }}" data-icebreaker="{% if retro.icebreaker is not none and retro.icebreaker != 'non' %}true{% else %}false{% endif %}"
                data-distanciel="{% if retro.distanciel is not none and retro.distanciel != 'non' %}true{% else %}false{% endif %}"
                onclick="window.location.href='/result/{{ retro.plan_id }}'">
                    <div class="card-body">
                        <h5 class="card-title">{{ retro.title }}</h5>
                        <div class="list-group list-group-flush row">
                            <div class="body-card">
                                <div class="list-group-item col s12"><span class="tag">#{{ retro.theme }}</span>
                                </div>
                                <div class="list-group-item col s6">{{ retro.duration }}</div>
                                <div class="list-group-item col s6">{{ retro.attendees }} personnes</div>
                            </div>
                            <div class="card-footer">
                                <div class="list-group-item col s6">{{ 'Ice Breaker' if retro.icebreaker=='on' }}</div>
                                <div class="list-group-item  col s6">{{ 'Distanciel' if retro.distanciel=='on' else 'Présentiel' }}</div>                                
                            </div>
                        </div>
                    </div>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <ul class="pagination">
            {% if current_page > 1 %}
            <li class="waves-effect"><a href="?page={{ current_page - 1 }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for page in range(1, total_pages + 1) %}
            {% if page == current_page %}
            <li class="active"><a href="#!">{{ page }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if current_page < total_pages %}
            <li class="waves-effect"><a href="?page={{ current_page + 1 }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="home col s12 center-align" id="home">
        <button type="button" onclick="window.location.href='{{ cancel_url }}'"
            class="btn waves-effect waves-light"><i
                class="material-icons left">home</i>Accueil</button>
    </div>
</div>