<!DOCTYPE html>
<html>
<head>
    <title>Votre rétrospective ZenikAI</title>
</head>
<body>
    <a href="https://zenika.com" alt="Site de Zenika">
        <img src="https://zenika.com/static/images/logo.png" alt="Logo Zenika" style="display: block; margin: 0 auto;">"
    </a>
    <h1>{{ firstname }}</h1>
    <p>Zenika est heureux de vous offrir votre rétrospective personnalisée, générée grâce à ZenikAI, notre Cookéo à rétro alimenté par l'IA Générative.</p>
    <p>Nous espérons que cette trame de rétrospective puisse vous plaire et vous aider à atteindre vos objectifs :).</p>
    <hr>
    {{ result | safe }}
</body>
</html>
