<!DOCTYPE html>
<html lang="fr">

{% include '_head.html' %}

<body>

    {% include '_header.html' %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h2>Merci !</h2>
                    <p>Votre rétrospective vous a été envoyée par email.</p>
                    <button type="button" onclick="window.location.href='{{ cancel_url }}'"
                    class="btn waves-effect waves-light"><i
                        class="material-icons left">home</i>Accueil</button>
                    <a href="/retro_history" class="btn waves-effect waves-light">Voir toutes les rétrospectives générées</a>
                </div>
            </div>
        </div>
    </main>

    {% include '_footer.html' %}

    <script src="{{ url_for('static', filename='js/common.js')}}"></script>    

</body>
</html>